* {
    box-sizing: border-box;

}


#title, #sub-title {
    text-align: center;  
}

#title {
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#sub-title {
    font-weight: 300;
    margin-bottom: 1rem;
}

.product-div {
    display: flex;
    flex-direction: row;
    background-color: rgb(236, 234, 232);
    width: 100%;
    margin: 0 0;
    padding: 1rem  0.5rem 1rem 2rem;
    border: solid 1px gray;
    border-bottom: none;

}

.product-div:last-of-type {
 border-bottom: solid 1px gray;

}

.product-img {
    width: 40%;
    padding: 4px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: rgb(250, 246, 242);
    height: 100%;

    /* min-width: 150px; */
    /* object-fit: contain; */
}

.product-name-div {
    margin: 0 1.5rem;
    width: 40%;
}

.sold-amount {
    text-align: right;
    width: 20%;
}

@media (max-width: 770px) {

    .product-div {
        flex-wrap: wrap;
        flex-direction: column;
    
    }   
    
    .sold-amount {
        text-align: left;
    }

    .product-title {
        

    }

    .product-img, .product-name-div, .sold-amount{
        width: 100%;
        margin-left: 0;
        margin-top: 1rem;
    }
}