* {
  box-sizing: border-box;
}


.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron {
  background: url('../img/cover_back.png');
  height: 50vh;
  background-size: cover;
  padding: 5em inherit;
  background-color: #F8F9FA;
  background-position: center;
  background-repeat: no-repeat;
}


@media (min-width: 1200px) and (max-width: 1459px) {
  .jumbotron {
    height: 50vh;
    background: url('../img/cover_back2.png');
    background-size: contain;
    background-color: #F8F9FA;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: 0) and (max-width: 1199px) {
  .jumbotron {
    height: 50vh;
    background: url('../img/cover_back3.png');
    background-size: contain;
    background-color: #F8F9FA;
    background-position: center;
    background-repeat: no-repeat;

  }
}

@media (max-width: 768px) {
  .jumbotron {
    height: 40vh;

  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}



/* Products and categories style*/

.title,
.sub-title {
  text-align: center;
}

.title {
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.sub-title {
  font-weight: 300;
  margin-bottom: 1rem;
}

.product-div {
  display: flex;
  flex-direction: row;
  background-color: rgb(243, 243, 243);
  width: 100%;
  margin: 0 0;
  padding: 1rem 0.5rem 1rem 1rem;
  border: solid 1px gray;
  border-bottom: none;

}

.product-div:last-of-type {
  border-bottom: solid 1px gray;

}

.product-img {
  width: 35%;
  max-width: 350px;
  padding: 4px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: rgb(250, 246, 242);
  height: 100%;


  /* min-width: 150px; */
  /* object-fit: contain; */
}

.product-name-div {
  margin: 0 1.5rem;
  width: 40%;
}

.sold-amount {
  text-align: right;
  width: 20%;
}

@media (max-width: 767px) {

  .product-div {
    flex-wrap: wrap;
    flex-direction: column;

  }

  .sold-amount {
    text-align: left;
  }

  .product-name-div,
  .sold-amount {
    width: 100%;
    margin-left: 0;
    margin-top: 1rem;
  }

  .product-img {
    width: 100%;
    max-width: 100%;
    display: block;

  }
}

#search-bar-container {
  margin: 1rem 0 0.5rem 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

#search {
  width: 100%;
  margin-left: 1rem;
}


/** Cart icon**/

.bi-cart3:after {
  content: attr(value);
  font-size: 15px;
  color: #fff;
  background: #343A40;
  border-radius: 50%;
  padding: 0 5px;
  position: relative;
  left: -8px;
  top: -8px;
  opacity: 0.9;
}

.bi-cart3 {
  color: white;
}


@media (max-width: 575px) {
  .small-width {
    width: 100% !important;
  }
}